<div class='container'>
  <!-- Content -->
  <h1><i class='fa fa-barcode fa-3'></i> {{ 'EDIT' | translate }} {{ 'MOVEMENT' | translate }}</h1>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'CREATION_DATE' | translate }}*</label></div>
    <div class="col-md-4">
      <input ng-model="operation.creationDate" type="date" class="form-control" ng-change="hasChanged()" />
    </div>
    <label class="col-md-2 control-label">{{ 'TYPE' | translate }}*</label>
    <div class="col-md-4">
      <select ng-model="operationType" class="form-control" ng-options="type as type.key for type in operationTypes track by type.id" ng-change="hasChangedType()"></select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'ITEM' | translate }}*</label></div>
    <div class="col-md-4">
      <select ng-model="item" ng-options="item.fullname for item in items" class="form-control" ng-change="hasChangedItem()"></select>
    </div>
    <div class="col-md-2"><label class="control-label">{{ 'WAREHOUSE' | translate }}*</label></div>
    <div class="col-md-4">
      <select ng-model="warehouse" ng-options="warehouse.name for warehouse in warehouses track by warehouse._id" class="form-control" ng-change="hasChangedWarehouse()"></select>
    </div>
  </div>
  <div class="row">
    <label for="inputQty" class="col-md-2 control-label">{{ 'QUANTITY' | translate }}*</label>
    <div class="col-md-4">
      <input ng-model="operation.quantity" type="number" class="form-control" id="inputQty" ng-change="hasChangedQuantity()">
    </div>
    <label for="inputPrice" class="col-md-2 control-label">{{ 'PRICE' | translate }}*</label>
    <div class="col-md-4">
      <input ng-model="operation.price" type="number" class="form-control" id="inputPrice" ng-change="hasChanged()">
    </div>
  </div>
  <!-- Buttons -->
  <div class="row">
    <div class="col-md-12">
      <button ng-disabled='addDisabled' class="btn btn-primary" type="submit" ng-click="editOperation()"><span class="fa fa-times"></span>  {{ 'OK' | translate }}</button>
      <button class="btn btn-default" type="submit" ng-click="cancel()"><span class="fa fa-check"></span>  {{ 'CANCEL' | translate }}</button>
    </div>
  </div>
  <!-- /Content -->
</div>
