<!-- Content -->
<h1>Operation</h1>

<div class="row">

  <div class="col-md-12">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
      <thead>
        <tr>
          <th>Creation Date</th>
          <th>Item</th>
          <th>Warehouse</th>
          <th>Type</th>
          <th>Quantity</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in displayedCollection">
          <td>{{row.creationDate}}</td>
          <td>{{row.item}}</td>
          <td>{{row.warehouse}}</td>
          <td>{{row.type}}</td>
          <td>{{row.qty}}</td>
          <td>
            <button type="button" ng-click="view(row)" class="btn btn-sm btn-info"><span class="fa fa-search"></span> View</button>
          </td>
          <td>
            <button type="button" ng-click="edit(row)" class="btn btn-sm btn-default"><span class="fa fa-pencil"></span> Edit</button>
          </td>
          <td>
            <button type="button" ng-click="remove(row)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <button class="btn btn-default" type="submit" ng-click="add()"><span class="fa fa-plus"></span>  Nuovo</button>
  </div>
</div>
<!-- /Content -->
