<div class="container">
  <!-- Title -->
  <h1 hidden-print><i class='fa fa-address-book-o fa-3'></i> {{ 'CUSTOMERS' | translate }}</h1>
  <!-- /Title -->
  <!-- Buttons -->
  <div class="row hidden-print">
    <div class="col-md-2">
      <button class="btn btn-primary" type="submit" ng-click="add()"><span class="fa fa-plus"></span>  {{ 'ADD' | translate }}</button>
    </div>
  </div>
  <!-- /Buttons -->
  <!-- Content -->
  <div class="row">
    <div class="col-md-12">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="name" st-sort-default="true">{{ 'NAME' | translate }}</th>
            <th>{{ 'PHONE' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'ADDRESS' | translate }}</th>
            <th>{{ 'BREAST' | translate }} [cm]</th>
            <th>{{ 'WAIST' | translate }} [cm]</th>
            <th>{{ 'HIP' | translate }} [cm]</th>
            <th>{{ 'LEG_LENGTH' | translate }} [cm]</th>
            <th>{{ 'SHOULDER' | translate }} [cm]</th>
            <th>{{ 'NOTE' | translate }}</th>
            <th class='hidden-print'></th>
            <th class='hidden-print'></th>
          </tr>
          <tr>
            <th><input st-search="name" class="input-sm form-control" type="search" /></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class='hidden-print'></th>
            <th class='hidden-print'></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in displayedCollection">
            <td>{{ row.name }}</td>
            <td>{{ row.phone }}</td>
            <td><a ng-href="mailto:{{row.email}}">{{ row.email }}</a></td>
            <td>{{ row.address }}</td>
            <td>{{ row.breast }}</td>
            <td>{{ row.waist }}</td>
            <td>{{ row.hip }}</td>
            <td>{{ row.legLength }}</td>
            <td>{{ row.shoulder }}</td>
            <td>{{ row.note }}</td>
            <td class='hidden-print'>
              <button type="button" ng-click="edit(row)" class="btn btn-sm btn-warning"><span class="fa fa-pencil"></span> {{ 'EDIT' | translate }}</button>
            </td>
            <td class='hidden-print'>
              <button type="button" ng-click="remove(row)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> {{ 'DELETE' | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /Content -->
</div>
