<div class="container">
  <!-- Title -->
  <h1><i class='fa fa-shopping-cart fa-3'></i> {{ 'ORDERS' | translate }}</h1>
  <!-- /Title -->
  <!-- Buttons -->
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" type="submit" ng-click="add()"><span class="fa fa-plus"></span>  {{ 'ADD' | translate }}</button>
    </div>
  </div>
  <!-- /Buttons -->
  <!-- Content -->
  <div class="row">
    <div class="col-md-12">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="creationDate" st-sort-default="reverse">{{ 'CREATION_DATE' | translate }}</th>
            <th>{{ 'STATE' | translate }}</th>
            <th>{{ 'DELIVERY_DATE' | translate }}</th>
            <th>{{ 'CUSTOMER' | translate }}</th>
            <th>{{ 'WAREHOUSE' | translate }}</th>
            <th></th>
            <th></th>
            <th>{{ 'CHANGE_TO' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class='{success: row.state=="READY", warning: row.state=="WORKING", danger: row.state=="NEW" }' ng-repeat="row in displayedCollection">
            <td>{{ row.creationDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ row.state | translate }}</td>
            <td>{{ row.deliveryDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ row.customer.name }}</td>
            <td>{{ row.warehouse.name }}</td>
            <td>
              <button type="button" ng-click="view(row)" class="btn btn-sm btn-info"><span class="fa fa-search"></span> {{ 'DETAIL' | translate }}</button>
            </td>
            <td>
              <button type="button" ng-if='row.state == "NEW" || row.state == "WORKING"' ng-click="edit(row)" class="btn btn-sm btn-warning"><span class="fa fa-pencil"></span> {{ 'EDIT' | translate }}</button>
            </td>
            <td>
              <button type="button" ng-click="changeState(row)" class="btn btn-sm btn-warning" ng-if='row.state != "DELIVERED"'>
                <span ng-if='row.state == "NEW"'><span class="fa fa-refresh"></span> {{ 'WORKING' | translate }}</span>
                <span ng-if='row.state == "WORKING"'><span class="fa fa-refresh"></span> {{ 'READY' | translate }}</span>
                <span ng-if='row.state == "READY"'><span class="fa fa-refresh"></span> {{ 'DELIVERED' | translate }}</span>
              </button>
            </td>
            <td>
              <button type="button" ng-click="remove(row)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> {{ 'DELETE' | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /Content -->
</div>
