<div class='container'>
  <!-- Content -->
  <h1><i class='fa fa-shopping-cart fa-3'></i> {{ 'ORDER' | translate }}: {{ order.customer.name }}</h1>
  <h3>{{ 'CONTACTS' | translate }}: {{ order.customer.phone }} {{ order.customer.email }}</h3>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'CREATION_DATE' | translate }}</label></div>
    <div class="col-md-2">{{ order.creationDate | date:'yyyy-MM-dd' }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'DELIVERY_DATE' | translate }}</label></div>
    <div class="col-md-2">{{ order.deliveryDate | date:'yyyy-MM-dd' }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'WAREHOUSE' | translate }}</label></div>
    <div class="col-md-2">{{ order.warehouse.name }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'ADDRESS' | translate }}</label></div>
    <div class="col-md-2">{{ order.customer.address }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'BREAST' | translate }} [cm]</label></div>
    <div class="col-md-2">{{ order.customer.breast }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'WAIST' | translate }} [cm]</label></div>
    <div class="col-md-2">{{ order.customer.waist }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'HIP' | translate }} [cm]</label></div>
    <div class="col-md-2">{{ order.customer.hip }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'LEG_LENGTH' | translate }} [cm]</label></div>
    <div class="col-md-2">{{ order.customer.legLength }}</div>
    <div class="col-md-2"><label class="control-label">{{ 'SHOULDER' | translate }} [cm]</label></div>
    <div class="col-md-2">{{ order.customer.shoulder }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="control-label">{{ 'DEPOSIT' | translate }} [€]</label></div>
    <div class="col-md-2">{{ order.deposit }}</div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <hr>
      <h2>{{ 'ITEMS' | translate }}: {{ order.elements.length }}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'ITEM' | translate }}</th>
            <th>{{ 'FABRIC' | translate }}</th>
            <th>{{ 'QUANTITY' | translate }}</th>
            <th>{{ 'PRICE' | translate }}</th>
            <th>{{ 'NOTE' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='element in order.elements'>
            <td>{{ element.itemFullName }}</td>
            <td>{{ element.fabric }}</td>
            <td>{{ element.quantity }}</td>
            <td>{{ element.price }}</td>
            <td>{{ element.note }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{{ 'TOTAL' | translate }}: {{ amount }} €</h2>
    </div>
  </div>

  <!-- Buttons -->
  <div class="row">
    <div class="col-md-12">
      <button ng-disabled='addDisabled' class="btn btn-primary" type="submit" ng-click="goBack()"><span class="fa fa-check"></span>  {{ 'OK' | translate }}</button>
    </div>
  </div>
  <!-- /Content -->
</div>
