<div class="container">
  <!-- Title -->
  <h1 hidden-print><i class='fa fa-tags fa-3'></i> {{ 'ITEM' | translate }}</h1>
  <!-- /Title -->
  <!-- Buttons -->
  <div class="row hidden-print">
    <div class="col-md-2">
      <button class="btn btn-default" type="submit" ng-click="add()"><span class="fa fa-plus"></span>  {{ 'ADD' | translate }}</button>
    </div>
  </div>
  <!-- /Buttons -->
  <!-- Content -->
  <div class="row">
    <div class="col-md-12">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'I' | translate }}</th>
            <th st-sort="model" st-sort-default="true">{{ 'MODEL' | translate }}</th>
            <th>{{ 'NOTE' | translate }}</th>
            <th>{{ 'CATEGORY' | translate }}</th>
            <th>{{ 'GENDER' | translate }}</th>
            <th>{{ 'SIZE' | translate }}</th>
            <th st-sort="price">{{ 'PRICE' | translate }}</th>
            <th>{{ 'O' | translate }}</th>
            <th class='hidden-print'></th>
            <th class='hidden-print'></th>
          </tr>
          <tr>
            <th></th>
            <th><input st-search="model" class="input-sm form-control" type="search" /></th>
            <th></th>
            <th>
              <select st-search="category" ng-model="category" class="form-control" ng-options="category as category.key for category in categories track by category.id">
                <option value=""></option>
              </select>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class='hidden-print'></th>
            <th class='hidden-print'></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in displayedCollection">
            <td>
              <qrcode data='{{ baseLoadUrl + row._id }}'></qrcode>
            </td>
            <td>{{ row.model }}</td>
            <td>{{ row.note }}</td>
            <td>{{ row.category | translate }}</td>
            <td>{{ row.gender | translate }}</td>
            <td>{{ row.size | translate }}</td>
            <td>{{ row.price }}</td>
            <td>
              <qrcode data='{{ baseDonwloadUrl + row._id }}'></qrcode>
            </td>
            <td class='hidden-print'>
              <button type="button" ng-click="edit(row)" class="btn btn-sm btn-default"><span class="fa fa-pencil"></span>{{ 'EDIT' | translate }}</button>
            </td>
            <td class='hidden-print'>
              <button type="button" ng-click="remove(row)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span>{{ 'DELETE' | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /Content -->
</div>
